@import 'index.css';

.welcome {
  h1{
    font-size: 56px;
  }
  p{
    font-size: 24px;
  }

  @media (max-width: 992px) {
    h1{
      font-size: 42px;
    }
    p{
      font-size: 16px;
    }
  }
}
